#!/usr/bin/make -f

include /usr/share/dpkg/pkg-info.mk

export DH_VERBOSE=1
export COMPILE_FLAGS="-O0"
export DEB_BUILD_MAINT_OPTIONS = hardening=-all
export DEB_CFLAGS_MAINT_APPEND  = -Wno-error
#export DEB_CFLAGS_MAINT_APPEND  = -Wno-error -march=armv8-a+crypto
export DEB_LDFLAGS_MAINT_APPEND = -Wno-error
#export DEB_LDFLAGS_MAINT_APPEND  = -Wno-error -march=armv8-a+crypto
#CFLAGS=-march=armv8-a+crypto
#CXXFLAGS=-march=armv8-a+crypto
DEB_HOST_MULTIARCH ?= $(shell dpkg-architecture -qDEB_HOST_MULTIARCH)

%:
	dh $@ --buildsystem=cmake --builddirectory=obj-${DEB_HOST_MULTIARCH}

override_dh_auto_configure-arch:
	dh_auto_configure -- \
		-DFMT_DOC=off -DFMT_PEDANTIC=off -DCMAKE_POSITION_INDEPENDENT_CODE=on \
		-DBUILD_SHARED_LIBS=on

override_dh_auto_configure-indep:

#override_dh_auto_build-indep:
#	mkdir -p bdir/doxyxml
#	doxygen debian/doxygen.conf
#	sphinx-build -Dbreathe_projects.format=../bdir/doxyxml \
#		-Dversion=$(DEB_VERSION) -Drelease=$(DEB_VERSION) -Aversion=$(DEB_VERSION) -Aversions=$(DEB_VERSION) \
#	lessc --clean-css --include-path=/usr/share/javascript/bootstrap/less \
#		doc/fmt.less bdir/libfmt-doc/_static/fmt.css
#	ln -sf /usr/share/javascript/bootstrap/js/bootstrap.min.js bdir/libfmt-doc/_static/bootstrap.min.js

override_dh_auto_test-indep:

override_dh_auto_install-indep:
	mkdir -p debian/tmp/usr/share/doc
	cp -vr bdir/libfmt-doc debian/tmp/usr/share/doc/

override_dh_install-indep:
	dh_install
	dh_sphinxdoc

# skip file failing with "Unknown DWARF DW_OP_255" (see bug#949296)
override_dh_dwz:
	dh_dwz --exclude=usr/lib/x86_64-linux-gnu/libfmt.so.9.0.0
